Flask==3.0.0
Flask-CORS==4.0.0
flask-socketio>=5.3.6
requests==2.31.0
openai>=1.0.0
pyinstaller>=5.13.0
binance-sdk-derivatives-trading-usds-futures>=4.0.0
clickhouse-connect>=0.7.5
gunicorn>=21.2.0
eventlet>=0.33.3
python-engineio>=4.7.1
python-socketio>=5.9.0
finta>=1.3